<div class="board">

  <mat-card class="mat-elevation-z0">

    <mat-card-title-group>
      <mat-card-title>
        Board Name

        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>

      </mat-card-title>
    </mat-card-title-group>



    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, eaque, perferendis! Deleniti enim laboriosam nobis sit temporibus. Ab aliquam cum dolorum eveniet iure nemo perferendis, quo repudiandae saepe sit totam.

      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>


      2 Minute ID: N
      Location
      By the life guard stations along New Brighton Prom
      Latitude: 53.44194
      Longitude: -3.039077
      Board Type:  #2minutebeachclean
      Status:  On Display

    </mat-card-content>


  </mat-card>

  <mat-card>

    <mat-card-title-group>
      <mat-card-title>
        Board Details

        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>

      </mat-card-title>
    </mat-card-title-group>

    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, eaque, perferendis! Deleniti enim laboriosam nobis sit temporibus. Ab aliquam cum dolorum eveniet iure nemo perferendis, quo repudiandae saepe sit totam.

      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>


      2 Minute ID: N
      Location
      By the life guard stations along New Brighton Prom
      Latitude: 53.44194
      Longitude: -3.039077
      Board Type:  #2minutebeachclean
      Status:  On Display

    </mat-card-content>


  </mat-card>
</div>
