<!--*selectedIndex: {{selectedIndex}}* <br>-->
<!--*steps.length: {{steps.length}}*<br>-->
<!--*{{selectedIndex === steps.length-1}}*-->


<main class="progress-indicators">

  <div class="steps-container">
    <div class="inner">

      <ul>
        <li *ngFor="let step of steps; let index = index" [style.width.%]="100/steps.length">
          <div (click)="selectStep(index)" [ngClass]="{'selected': index <= selectedIndex}">{{step.displayIndex}}</div>
          {{step.text}}
        </li>
      </ul>
    </div>
  </div>



  <div class="bar-container">
    <div class="completed"
         [style.marginLeft.%]="(100/steps.length) / 2"
         [style.width.%]="(((100/steps.length)) * (selectedIndex + 1))"
    ></div>
    <div class="pending"
         [style.marginRight.%]="(100/steps.length) / 2"
         [style.width.%]="((100/steps.length)) * ((steps.length - 1) - (selectedIndex + 1))"
    ></div>
  </div>

</main>
