<h2 mat-dialog-title>Add Board</h2>
<mat-dialog-content>
  <div>
    <form [formGroup]="editBoardForm">
      <mat-form-field style="width: 100%">
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput formControlName="twoMinuteId" placeholder="2 Minute ID">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput formControlName="location" placeholder="Location">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput formControlName="latitude" placeholder="Latitude">
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput formControlName="longitude" placeholder="Longitude">
      </mat-form-field>

      <mat-form-field style="width: 100%">

        <mat-select [(value)]="selectedBoardType" formControlName="boardType" placeholder="Board Type">
          <mat-option *ngFor="let boardType of boardTypes" [(value)]="boardType.value">
            {{boardType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <mat-select [(value)]="selected" formControlName="status"  placeholder="Status">
          <mat-option *ngFor="let status of statuses" [(value)]="status.value">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions  style="float: right">
  <button (click)="onSubmit()" mat-button mat-raised-button color="primary">Save</button>
</mat-dialog-actions>
