<div class="view-board">
  <h2 mat-dialog-title>{{data.name}}</h2>
  <mat-dialog-content>
    <div class="example-container">

      <div *ngIf="data.twoMinuteId" class="item">
        <label>2 Minute ID:</label>
        {{data.twoMinuteId}}
      </div>

      <div *ngIf="data.location" class="item">
        <label>Location</label><br>
        {{data.location}}
      </div>

      <div *ngIf="data.description" class="item">
        <label>Description</label><br>
        {{data.description}}
      </div>

      <div *ngIf="data.latitude" class="item">
        <label>Latitude:</label>
        {{data.latitude}}
      </div>

      <div *ngIf="data.longitude" class="item">
        <label>Longitude:</label>
        {{data.longitude}}
      </div>

      <div class="item">
        <label>Board Type: </label>
        {{data.boardType | boardType}}
      </div>

      <div class="item">
        <label>Status: </label>
        {{data.status | boardStatus}}
      </div>


    </div>
  </mat-dialog-content>

  <mat-dialog-actions  style="float: right; margin-bottom: -10px;">
    <button (click)="onSubmit()" mat-button mat-raised-button color="primary">OK</button>
  </mat-dialog-actions>

</div>
