.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.beach-clean {
  color: orange !important;
}

.street-clean {
  color: green !important;
}

.litter-pick {
  color: blue !important;
}
