<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-flat-button color="primary">
    #2Minute Boards Manager
  </button>
  <span class="example-fill-remaining-space">
    <button mat-flat-button color="primary">
      All
    </button>
    <button mat-flat-button color="primary">
      Beach Clean
    </button>
    <button mat-flat-button color="primary">
      Street Clean
    </button>
    <button mat-flat-button color="primary">
      Litter Pick
    </button>
  </span>
  <span>
    <button mat-flat-button color="primary">
      Log in
    </button>
  </span>
</mat-toolbar>
