<mat-toolbar color="primary">
  <button routerLink="/boards" mat-flat-button color="primary">
    #2Minute Boards Manager
  </button>
  <span class="example-fill-remaining-space">
    <button routerLink="/boards" mat-flat-button color="primary">
      All
    </button>
    <button routerLink="/boards/0" mat-flat-button color="primary">
      Beach Clean
    </button>
    <button routerLink="/boards/2" mat-flat-button color="primary">
      Street Clean
    </button>
    <button routerLink="/boards/1" mat-flat-button color="primary">
      Litter Pick
    </button>
    <button routerLink="/map" mat-flat-button color="primary">
      Map
    </button>
  </span>
  <span>
    <button *ngIf="!isLoggedIn" (click)="login()" mat-flat-button color="primary">
      Log in / Register
    </button>
    <button *ngIf="isLoggedIn" (click)="logout()" mat-flat-button color="primary">
      <mat-icon class="example-icon">logout</mat-icon>
      Log out
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
