table {
  width: 100%;
  height: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
  min-height: 65px;

  &.selected {
    background: #dddddd;
  }

  .icon {
    margin-right: 10px;


  }

  .beach-clean {
    color: orange;
  }

  .street-clean {
    color: green;
  }

  .litter-pick {
    color: blue;
  }
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.boards {
  padding-bottom: 100px;
}
