<div class="boards">

  <button *ngIf="isLoggedIn" class="add-button" mat-fab (click)="addBoard()" color="primary">
    <mat-icon
      class="example-icon">add</mat-icon>
  </button>


  <mat-card class="mat-elevation-z0">

    <mat-card-title-group>

      <mat-card-title>
        All Boards
      </mat-card-title>
    </mat-card-title-group>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell  (click)="viewBoard(element)" *matCellDef="let element" style="width: 30px;">
            <mat-icon *ngIf="element.boardType=='0'" class="icon beach-clean">event_note</mat-icon>
            <mat-icon *ngIf="element.boardType=='1'" class="icon street-clean">event_note</mat-icon>
            <mat-icon *ngIf="element.boardType=='2'" class="icon litter-pick">event_note</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell (click)="viewBoard(element)" *matCellDef="let element">

              {{element.name}}


          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Location Description</th>
          <td mat-cell (click)="viewBoard(element)" *matCellDef="let element"> {{element.location}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Latitude</th>
          <td mat-cell (click)="viewBoard(element)" *matCellDef="let element"> {{element.latitude}}</td>
        </ng-container>

        <ng-container matColumnDef="longitude">
          <th mat-header-cell *matHeaderCellDef> Longitude</th>
          <td mat-cell (click)="viewBoard(element)" *matCellDef="let element"> {{element.longitude}}</td>
        </ng-container>

        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef  style="width: 30px;"></th>
          <td mat-cell *matCellDef="let element">
            <mat-menu #appMenu="matMenu">
              <button mat-menu-item (click)="showEdit(element)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <button mat-menu-item (click)="deleteBoard(element)">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>

            <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </mat-card-content>

  </mat-card>


</div>
