<h2 mat-dialog-title>Log in</h2>
<mat-dialog-content>
  <div class="example-container">

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Enter your email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>



  </div>
</mat-dialog-content>

<mat-dialog-actions  style="float: right">

  <button mat-button mat-dialog-close>Forgotten Password</button>

    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button mat-raised-button color="primary">Log in</button>

</mat-dialog-actions>
